@font-face {
  font-family: "Andada Pro";
  font-style: normal;
  font-weight: 700;
  src: url("@/assets/AndadaPro.woff2") format("woff2");
}

@font-face {
  font-family: "Recursive";
  src: url("@/assets/Recursive.woff2") format("woff2");
}
