/*
The namespace `base` is taken by Tailwind CSS, so prefix our own base with
"pv-" (playground-vue) so it doesn't clash.

The Tailwind CSS layers are prepended here so they fit correctly if the
Tailwind stylesheet is enabled.
*/

@layer base, components, utilities, reset, highlight-theme, pv-base, pv-utilities;

@import url("@/assets/generated/variables.css") layer(pv-base);
@import url("@/utilities.css") layer(pv-utilities);

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }
}

@layer pv-base {
  #app {
    position: relative;
  }

  :root {
    --pv-selection-color: light-dark(
      var(--pv-base-color-sky-200),
      var(--pv-base-color-sky-800)
    );

    --pv-yes: light-dark(
      var(--pv-base-color-green-600),
      var(--pv-base-color-green-400)
    );
    --pv-no: light-dark(
      var(--pv-base-color-red-600),
      var(--pv-base-color-red-400)
    );
    --pv-na: light-dark(
      var(--pv-base-color-gray-500),
      var(--pv-base-color-gray-400)
    );
  }

  ::selection {
    background-color: var(--pv-selection-color);
  }
}
