.pv-code {
  border: 1px solid
    light-dark(var(--pv-base-color-lime-100), var(--pv-base-color-lime-900));
  border-radius: 0.125em;
  background: light-dark(
    var(--pv-base-color-lime-50),
    var(--pv-base-color-lime-950)
  );
  color: light-dark(
    var(--pv-base-color-lime-950),
    var(--pv-base-color-lime-50)
  );

  &::before,
  &::after {
    content: "`";
  }
}

/**
 * Use this class as a function to calculate the contrast color for a given color.
 *
 * Parameters:
 *   --pv-color <color>: The color to calculate contrast for.
 *
 * Result:
 *   --pv-contrast-color <color>: The contrast color (white or black).
 */
.pv-contrast-color {
  --_luminance: rgb(
    from var(--pv-color) none none none /
      /* Use oefficients from BT.709: https://en.wikipedia.org/wiki/Rec._709#Luma_coefficients */
      calc((r * 0.2126 + g * 0.7152 + b * 0.0722) / 255)
  );
  --_alpha-color: color-mix(in oklch, var(--pv-color) 0%, var(--_luminance));
  --pv-contrast-color: oklch(
    from var(--_alpha-color) calc(1 - round(alpha)) none none / 1
  );
}
