.pv-code {
  border: 1px solid
    light-dark(var(--pv-base-color-lime-100), var(--pv-base-color-lime-900));
  border-radius: 0.125em;
  background: light-dark(
    var(--pv-base-color-lime-50),
    var(--pv-base-color-lime-950)
  );
  color: light-dark(
    var(--pv-base-color-lime-950),
    var(--pv-base-color-lime-50)
  );

  &::before,
  &::after {
    content: "`";
  }
}

/**
 * Use this class as a function to calculate the contrast color for a given color.
 *
 * Parameters:
 *   --pv-color <color>: The color to calculate contrast for.
 *
 * Result:
 *   --pv-contrast-color <color>: The contrast color (white or black).
 */
.pv-contrast-color {
  --pv-contrast-color: contrast-color(var(--pv-color));

  @supports not (color: contrast-color(red)) {
    --_luminance: rgb(
      from var(--pv-color) none none none /
        /* Use oefficients from BT.709: https://en.wikipedia.org/wiki/Rec._709#Luma_coefficients */
        calc((r * 0.2126 + g * 0.7152 + b * 0.0722) / 255)
    );
    --_alpha-color: color-mix(in oklch, var(--pv-color) 0%, var(--_luminance));
    --pv-contrast-color: oklch(
      from var(--_alpha-color) calc(1 - round(alpha)) none none / 1
    );
  }
}

@media (hover: none) {
  abbr.pv-mobile-abbr:hover {
    position: relative;

    &::after {
      position: absolute;
      width: max-content;
      padding: 0.25em 0.5em;
      border: 1px solid ButtonBorder;
      border-radius: 6px;
      background-color: Canvas;
      color: CanvasText;
      content: attr(title);
      inset-block-end: 0;
      inset-inline-start: 0;
      transform: translateY(100%);
    }
  }
}

/*
* Smoothly transition a value from a high length to a low length between two breakpoints
*
* Parameters:
*   --pv-value-start <number>: The starting value, e.g. 0.75
*   --pv-value-end <number>: The ending value, e.g. 0
*   --pv-width-start <number>: The width the transition starts at, e.g. 64
*   --pv-width-end <number>: The width the transition ends at, e.g. 80
*   --pv-unit <length>: A length that represents the unit for --pv-value-* and --pv-width-* parameters
*   --pv-slope-factor <length>: A length representing the conversion from --pv-unit to some relative size, e.g. 100vw or 100cqi
*
* Result:
*   --pv-value <length>: A clamp function that scales linearly between --pv-value-start to --pv-value-end when the container expands from --pv-width-start to --pv-width-end
*/
.pv-inverse-clamp {
  --_slope: calc(
    (var(--pv-value-end) - var(--pv-value-start)) /
      (var(--pv-width-end) - var(--pv-width-start))
  );
  --pv-value: clamp(
    var(--pv-value-end) * var(--pv-unit),
    var(--pv-value-start) * var(--pv-unit) - var(--_slope) * var(--pv-unit) *
      var(--pv-width-start) + var(--_slope) * var(--pv-slope-factor),
    var(--pv-value-start) * var(--pv-unit)
  );
}
