.pv-code {
  border: 1px solid
    light-dark(var(--pv-b-color-lime-100), var(--pv-b-color-lime-900));
  border-radius: 0.125em;
  color: light-dark(var(--pv-b-color-lime-950), var(--pv-b-color-lime-50));
  background: light-dark(var(--pv-b-color-lime-50), var(--pv-b-color-lime-950));

  &::before,
  &::after {
    content: "`";
  }
}

.pv-list {
  list-style: unset;
  list-style-position: inside;
}

.pv-button {
  padding: var(--pv-b-spacing-0-5) var(--pv-b-spacing-1-5);
  border: 1px solid
    light-dark(var(--pv-b-color-neutral-500), var(--pv-b-color-zinc-400));
  border-radius: var(--pv-b-radius-xs);

  font-family: system-ui, sans-serif;
  font-size: var(--pv-b-font-size-sm);
  line-height: var(--pv-b-font-line-height-sm);
  color: light-dark(var(--pv-b-color-neutral-700), var(--pv-b-color-gray-50));

  appearance: none;
  background: light-dark(
    var(--pv-b-color-neutral-200),
    var(--pv-b-color-zinc-800)
  );

  &:disabled {
    border-color: var(--pv-b-color-zinc-400);
    color: var(--pv-b-color-neutral-500);
    background-color: light-dark(
      var(--pv-b-color-neutral-100),
      var(--pv-b-color-zinc-800)
    );
  }

  &:where(:enabled) {
    &:hover {
      background-color: light-dark(
        var(--pv-b-color-neutral-300),
        var(--pv-b-color-zinc-600)
      );

      &:active {
        border-color: light-dark(
          var(--pv-b-color-neutral-600),
          var(--pv-b-color-zinc-300)
        );
        color: light-dark(
          var(--pv-b-color-neutral-800),
          var(--pv-b-color-gray-50)
        );
        background-color: light-dark(
          var(--pv-b-color-neutral-400),
          var(--pv-b-color-zinc-500)
        );
      }
    }
  }
}

.pv-input,
.pv-select {
  --fg: light-dark(var(--pv-b-color-neutral-950), var(--pv-b-color-neutral-50));
  --bg: light-dark(white, var(--pv-b-color-zinc-800));
  --border-color: var(--pv-b-color-neutral-400);

  inline-size: 100%;
  padding: 1px 3px;
  border: 1px solid var(--border-color);
  border-radius: 2px;

  font-family: sans-serif;
  font-size: var(--pv-b-font-size-sm);
  line-height: var(--pv-b-font-line-height-sm);
  color: var(--fg);

  background-color: var(--bg);

  &:where(.pv-input) {
    appearance: none;
  }

  &:where(:enabled) {
    &:hover {
      --border-color: light-dark(
        var(--pv-b-color-neutral-500),
        var(--pv-b-color-neutral-300)
      );
    }

    &:focus {
      --border-color: var(--pv-b-color-blue-700);

      border-radius: 2px;
      outline: 1px solid var(--border-color);
    }
  }

  &:disabled {
    --border-color: light-dark(
      var(--pv-b-color-neutral-300),
      var(--pv-b-color-zinc-400)
    );
    --fg: var(--pv-b-color-neutral-500);
  }
}

.pv-input-wrapper {
  display: grid;
  gap: var(--pv-b-spacing-0-5) var(--pv-b-spacing-1);
  align-items: baseline;
  max-inline-size: max-content;

  label {
    font-size: var(--pv-b-font-size-sm);
    line-height: var(--pv-b-font-line-height-sm);
    white-space: nowrap;
  }

  &.pv-inline {
    grid-auto-flow: column;
    align-items: stretch;
  }
}

/**
 * Use this class as a function to calculate the contrast color for a given color.
 *
 * Parameters:
 *   --pv-color <color>: The color to calculate contrast for.
 *
 * Result:
 *   --pv-contrast-color <color>: The contrast color (white or black).
 */
.pv-contrast-color {
  --pv-contrast-color: contrast-color(var(--pv-color));

  @supports not (color: contrast-color(red)) {
    --_luminance: rgb(
      from var(--pv-color) none none none /
        /* Use oefficients from BT.709: https://en.wikipedia.org/wiki/Rec._709#Luma_coefficients */
        calc((r * 0.2126 + g * 0.7152 + b * 0.0722) / 255)
    );
    --_alpha-color: color-mix(in oklch, var(--pv-color) 0%, var(--_luminance));
    --pv-contrast-color: oklch(
      from var(--_alpha-color) calc(1 - round(alpha)) none none / 1
    );
  }
}

@media (hover: none) {
  abbr.pv-mobile-abbr:hover {
    position: relative;

    &::after {
      content: attr(title);

      position: absolute;
      inset-block-end: 0;
      inset-inline-start: 0;
      transform: translateY(100%);

      width: max-content;
      padding: 0.25em 0.5em;
      border: 1px solid ButtonBorder;
      border-radius: 6px;

      color: CanvasText;

      background-color: Canvas;
    }
  }
}

/*
* Smoothly transition a value from a high length to a low length between two breakpoints
*
* Parameters:
*   --pv-value-start <number>: The starting value, e.g. 0.75
*   --pv-value-end <number>: The ending value, e.g. 0
*   --pv-width-start <number>: The width the transition starts at, e.g. 64
*   --pv-width-end <number>: The width the transition ends at, e.g. 80
*   --pv-unit <length>: A length that represents the unit for --pv-value-* and --pv-width-* parameters
*   --pv-slope-factor <length>: A length representing the conversion from --pv-unit to some relative size, e.g. 100vw or 100cqi
*
* Result:
*   --pv-value <length>: A clamp function that scales linearly between --pv-value-start to --pv-value-end when the container expands from --pv-width-start to --pv-width-end
*/
.pv-inverse-clamp {
  --_slope: calc(
    (var(--pv-value-end) - var(--pv-value-start)) /
      (var(--pv-width-end) - var(--pv-width-start))
  );
  --pv-value: clamp(
    var(--pv-value-end) * var(--pv-unit),
    var(--pv-value-start) * var(--pv-unit) - var(--_slope) * var(--pv-unit) *
      var(--pv-width-start) + var(--_slope) * var(--pv-slope-factor),
    var(--pv-value-start) * var(--pv-unit)
  );
}
